<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456902125948-6vkch3hhgp506a8vk081fedef2nlou70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>xxxxxxxxxxxx</string>
	<key>API_KEY</key>
	<string>xxxxxx</string>
	<key>GCM_SENDER_ID</key>
	<string>456902125948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lodwig.fnbees</string>
	<key>PROJECT_ID</key>
	<string>xxxx</string>
	<key>STORAGE_BUCKET</key>
	<string>xxxx</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>xxxx</string>
	<key>DATABASE_URL</key>
	<string>xxxx</string>
</dict>
</plist>
